.c-hero.js-inview
  .c-hero__nav.js-hero-nav
    span.c-hero__nav-prev.is-disabled
    span.c-hero__nav-next
  .c-hero__bg
    .c-hero__bg-container.swiper-container.js-hero-slider
      .c-hero__bg-wrapper.swiper-wrapper
        .c-hero__bg-item.swiper-slide
          .c-hero__bg-dummy
        .c-hero__bg-item.swiper-slide
          .c-hero__bg-dummy
        .c-hero__bg-item.swiper-slide
          video(
            autoplay=""
            playsinline=""
            muted=""
            preload=""
            loop=""
          )
            source(
              src="assets/video/sample_mv_01.mp4"
              type="video/mp4"
            )
        .c-hero__bg-item.swiper-slide
          video(
            autoplay=""
            playsinline=""
            muted=""
            preload=""
            loop=""
          )
            source(
              src="assets/video/sample_mv_01.mp4"
              type="video/mp4"
            )
  //- c-hero__bg

  .c-hero__main
    h1.c-hero__logo
      a.c-hero__logo-link(href='/')
        img(src='assets/images/common/logo.svg', alt='AKARA อาสาปันอิ่ม ปันยิ้มให้สังคม')
    button.c-hero__btn-menu(type='button', id='btn-open-menu') Menu
    .c-hero-heading
      .js-inview.u-fade-in-up
        .c-hero-heading__tag AKARA
        h2.c-hero-heading__title อาสาปันอิ่ม<br>ปันยิ้มให้สังคม
        a.c-hero-heading__btn-video.js-modal-video(href='https://www.youtube.com/embed/8dVSeHLBYsQ?autoplay=1', target='_blank') Watch the video
    .c-hero-count.js-inview
      .c-hero-count__title ยอดร่วมบริจาคล่าสุด
      .c-hero-count__list.js-total-donate
        .c-hero-count__list-item
          .c-hero-count__number.js-inview-number(data-number="6") 0
          .c-hero-count__unit เดือน
        .c-hero-count__list-item
          .c-hero-count__number.js-inview-number(data-number="8500") 0
          .c-hero-count__unit ฟอง
        .c-hero-count__list-item
          .c-hero-count__number.js-inview-number(data-number="650") 0
          .c-hero-count__unit มื้อ
    .c-hero__arrow
      a.c-arrow(href='#problems')
        img.c-arrow-animaton(src="assets/images/common/ico_arrow_down_white.svg", alt="")
  //- Nav Global
  include ./_gnav
// /hero