section.c-our-associate
  .c-our-associate__in
    h2.c-heading-type1.c-our-associate__label OUR ASSOCIATE
    h2.c-our-associate__title ข้อความจากผู้ร่วมโครงการ

    .c-our-associate__list.js-our-associate-list
      .c-our-associate__item
        .c-our-associate__card
          figure.c-our-associate__card-image
            img(
              src="assets/images/our-associate/img_associate_01.jpg"
              alt=""
            )
          .c-our-associate__card-info
            .c-our-associate__card-text
              p “เป็นโครงการที่ดีมากๆ ดีใจที่มี#[br._d-sm-none]โอกาสช่วยเหลือน้องๆ”
            .c-our-associate__author
              img.c-our-associate__author-image(
                src="assets/images/our-associate/img_author_01.jpg"
                alt="Director"
              )
              .c-our-associate__author-info
                p.c-our-associate__author-position Donator
                p.c-our-associate__author-name สุนิสา ชวลิต
        // /c-our-associate__card

        .c-our-associate__card
          .c-our-associate__card-info
            .c-our-associate__card-text
              p “ขอบคุณโครงการดีๆ ที่คอยช่วยเหลือสังคม ขอให้น้องๆมีความสุข”
            .c-our-associate__author
              img.c-our-associate__author-image(
                src="assets/images/our-associate/img_author_02.jpg"
                alt="Director"
              )
              .c-our-associate__author-info
                p.c-our-associate__author-position Donator
                p.c-our-associate__author-name ประพาน รตน
        // /c-our-associate__card
      // /c-our-associate__item

      .c-our-associate__item
        .c-our-associate__card
          figure.c-our-associate__card-image
            img(
              src="assets/images/our-associate/img_associate_02.jpg"
              alt=""
            )
          .c-our-associate__card-info
            .c-our-associate__card-text
              p “จะคอยสนับสนุนกิจกรรมแบบนี้ต่อไป#[br._d-sm-none]เรื่อยๆ ขอบคุณโครงการที่คอยช่วย#[br._d-sm-none]เหลือน้องๆ”
            .c-our-associate__author
              img.c-our-associate__author-image(
                src="assets/images/our-associate/img_author_04.jpg"
                alt="Director"
              )
              .c-our-associate__author-info
                p.c-our-associate__author-position Donator
                p.c-our-associate__author-name กมลรัตน์ หลุย
        // /c-our-associate__card

        .c-our-associate__card
          .c-our-associate__card-info
            .c-our-associate__card-text
              p “อยากให้มีกิจกรรมแบบนี้เกิดขึ้นบ่อยๆ #[br._d-sm-none]เด็กๆจะได้ไม่ต้องเจอปัญหา#[br._d-sm-none]ขาดแคลนอาหารอีก”
            .c-our-associate__author
              img.c-our-associate__author-image(
                src="assets/images/our-associate/img_author_03.jpg"
                alt="Director"
              )
              .c-our-associate__author-info
                p.c-our-associate__author-position Donator
                p.c-our-associate__author-name รวี มนตรี
        // /c-our-associate__card
      // /c-our-associate__item

      .c-our-associate__item
        .c-our-associate__card
          figure.c-our-associate__card-image
            img(
              src="assets/images/our-associate/img_associate_03.jpg"
              alt=""
            )
          .c-our-associate__card-info
            .c-our-associate__card-text
              p “กิจกรรมดี ไข่มีคุณภาพแล้วยังได้มีส่วนช่วยเด็กที่ขาดแคลนอาหารอีก”
            .c-our-associate__author
              img.c-our-associate__author-image(
                src="assets/images/our-associate/img_author_05.jpg"
                alt="Director"
              )
              .c-our-associate__author-info
                p.c-our-associate__author-position Donator
                p.c-our-associate__author-name นันธิดา มหากิจสิริ
        // /c-our-associate__card

        .c-our-associate__card
          .c-our-associate__card-info
            .c-our-associate__card-text
              p “กิจกรรมดี ไข่ไก่คุณภาพและยังได้แบ่งปันให้กับผู้อื่น”
            .c-our-associate__author
              img.c-our-associate__author-image(
                src="assets/images/our-associate/img_author_06.jpg"
                alt="Director"
              )
              .c-our-associate__author-info
                p.c-our-associate__author-position Donator
                p.c-our-associate__author-name เพ็ญศรี พรประภา
        // /c-our-associate__card
      // /c-our-associate__item

      .c-our-associate__item
        .c-our-associate__card
          figure.c-our-associate__card-image
            img(
              src="assets/images/our-associate/img_associate_01.jpg"
              alt=""
            )
          .c-our-associate__card-info
            .c-our-associate__card-text
              p “เป็นโครงการที่ดีมากๆ ดีใจที่มี#[br._d-sm-none]โอกาสช่วยเหลือน้องๆ”
            .c-our-associate__author
              img.c-our-associate__author-image(
                src="assets/images/our-associate/img_author_01.jpg"
                alt="Director"
              )
              .c-our-associate__author-info
                p.c-our-associate__author-position Donator
                p.c-our-associate__author-name สุนิสา ชวลิต
        // /c-our-associate__card

        .c-our-associate__card
          .c-our-associate__card-info
            .c-our-associate__card-text
              p “ขอบคุณโครงการดีๆ ที่คอยช่วยเหลือสังคม ขอให้น้องๆมีความสุข”
            .c-our-associate__author
              img.c-our-associate__author-image(
                src="assets/images/our-associate/img_author_02.jpg"
                alt="Director"
              )
              .c-our-associate__author-info
                p.c-our-associate__author-position Donator
                p.c-our-associate__author-name ประพาน รตน
        // /c-our-associate__card
      // /c-our-associate__item

      .c-our-associate__item
        .c-our-associate__card
          figure.c-our-associate__card-image
            img(
              src="assets/images/our-associate/img_associate_02.jpg"
              alt=""
            )
          .c-our-associate__card-info
            .c-our-associate__card-text
              p “จะคอยสนับสนุนกิจกรรมแบบนี้ต่อไป#[br._d-sm-none]เรื่อยๆ ขอบคุณโครงการที่คอยช่วย#[br._d-sm-none]เหลือน้องๆ”
            .c-our-associate__author
              img.c-our-associate__author-image(
                src="assets/images/our-associate/img_author_04.jpg"
                alt="Director"
              )
              .c-our-associate__author-info
                p.c-our-associate__author-position Donator
                p.c-our-associate__author-name กมลรัตน์ หลุย
        // /c-our-associate__card

        .c-our-associate__card
          .c-our-associate__card-info
            .c-our-associate__card-text
              p “อยากให้มีกิจกรรมแบบนี้เกิดขึ้นบ่อยๆ #[br._d-sm-none]เด็กๆจะได้ไม่ต้องเจอปัญหา#[br._d-sm-none]ขาดแคลนอาหารอีก”
            .c-our-associate__author
              img.c-our-associate__author-image(
                src="assets/images/our-associate/img_author_03.jpg"
                alt="Director"
              )
              .c-our-associate__author-info
                p.c-our-associate__author-position Donator
                p.c-our-associate__author-name รวี มนตรี
        // /c-our-associate__card
      // /c-our-associate__item
    // /c-our-associate__list

    button.c-our-associate__more.js-our-associate-button See More
  // /c-our-associate__in
// /c-our-associate