.c-why-we-do(id='problems')
  .c-why-we-do__inner.js-inview.u-fade-in-up
    .c-why-we-do__slider-prev.is-disabled
    .c-why-we-do__slider-next
    .c-why-we-do__container.swiper-container.js-what-we-do-slider
      .c-why-we-do__wrapper.swiper-wrapper
        .c-why-we-do__slider.swiper-slide
          .c-why-we-do__box
            p.c-heading-type1.c-why-we-do__label Why We Do
            p.c-why-we-do__heading ปัญหาความยากจนและขาดแคลน
            .c-why-we-do__content
              p ปัญหาการขาดแคลนอาหาร ถือเป็นหนึ่งในปัญหาหลัก ๆ ที่นักเรียนในพื้นที่ห่างไกลส่วนใหญ่ต้องเผชิญ ทั้งสาเหตุที่เกิดขึ้นจากปัญหาความยากจน การขาดความรู้ด้านโภชนาการที่เพียงพอส่งผลให้นักเรียนส่วนใหญ่ในชนบทเกิดภาวะทุพโภชนาการ อีกทั้งจากปัญหาวิกฤติโควิด-19 ที่เกิดขึ้น ซึ่งทำให้เกิดภาวะขาดแคลนโภชนาการที่รุนแรงมากยิ่งขึ้นจากการที่เด็กนักเรียนไม่สามารถเดินทางไปเรียนได้ เนื่องจากโรงเรียนไม่ใช่แค่แหล่งเรียนรู้เพียงอย่างเดียว แต่ยังเป็นสถานที่ ๆ เด็ก ๆ จะได้รับประทานอาหารที่มีสารอาหารครบถ้วนอย่างพอเพียง
          .c-why-we-do__box
            figure.c-why-we-do__frame
              img.c-why-we-doimage(src="assets/images/why-we-do/img_whywedo_01.jpg", alt="ปัญหาความยากจนและขาดแคลน")
        //- c-why-we-do__slider
        .c-why-we-do__slider.swiper-slide
          .c-why-we-do__box
            p.c-heading-type1.c-why-we-do__label Why We Do
            p.c-why-we-do__heading เด็กๆ ที่มีความยากจน
            .c-why-we-do__content
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mi felis, auctor vitae vestibulum vel, consequat eu dolor. Nam pellentesque euismod laoreet. Aliquam sed nisl porttitor nisl laoreet semper nec iaculis nibh. Curabitur in tortor lorem.
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mi felis, auctor vitae vestibulum vel, consequat eu dolor. Nam pellentesque euismod laoreet. Aliquam sed nisl porttitor nisl laoreet semper nec iaculis nibh. Curabitur in tortor lorem.
          .c-why-we-do__box
            figure.c-why-we-do__frame
              img.c-why-we-doimage(src="assets/images/why-we-do/img_whywedo_02.jpg", alt="เด็กๆ ที่มีความยากจน")
        //- c-why-we-do__slider
    //- c-why-we-do__container

  .c-box-arrow._d-sm-none
    a.c-arrow(href='#campaign')
      img.c-arrow-animaton(src="assets/images/common/ico_arrow_down_black.svg", alt="")

.c-what-we-do(id='campaign')
  .c-what-we-do__inner
    .c-what-we-do__media.js-inview.u-fade-in
      a.c-what-we-do__media-link.js-modal-video(href='https://www.youtube.com/embed/8dVSeHLBYsQ?autoplay=1', target='_blank')
      video(
        autoplay=""
        playsinline=""
        muted=""
        preload=""
        loop=""
      )
        source(
          src="assets/video/sample_mv_01.mp4"
          type="video/mp4"
        )

    .c-what-we-do__content-box.js-inview.u-fade-in
      .c-what-we-do__label
        h2.c-heading-type1 What We Do
      .js-inview.u-fade-in-up
        .c-what-we-do__heading อาสาปันอิ่ม ปันยิ้มให้สังคม
        .c-what-we-do__content
          p โครงการ ‘อัครา อาสาปันอิ่ม ปันยิ้มให้สังคม’ ร่วมกับ โครงการ ‘มื้อนี้ พี่เลี้ยง’ ภายใต้การดาเนินงานของกองทุนเพื่อความเสมอภาคทางการศึกษา (กสศ.) เกิดขึ้นจากวัตถุประสงค์เพื่อช่วยเหลือเด็ก ๆ ภายในโครงการของ กสศ. ที่เกิดปัญหาขาดแคลนอาหารและภาวะทุพโภชนาการ สืบเนื่องมาจากปัญหาความยากจนและเผชิญกับวิกฤติโควิด -19 เรามุ่งมั่นที่จะช่วยเหลือนักเรียนยากจนพิเศษภายใต้โครงการของ กสศ. กว่า 100,000 คนทั่วประเทศ ให้ได้มีโภชนาการทางด้านอาหารและความเป็นอยู่ที่ดีขึ้น
      .c-box-arrow
        a.c-arrow(href='#how-we-do')
          img.c-arrow-animaton(src="assets/images/common/ico_arrow_down_white.svg", alt="")

.c-how-we-do(id='how-we-do')
  .c-how-we-do__inner
    .c-how-we-do__label
      h2.c-heading-type1.c-heading-type1--blue.js-inview.u-fade-in-pop How We Do
    .c-how-we-do__msg.js-inview.u-fade-in-pop
      p We strive for better community empowerment, and livelihood improvement an entry point.
    .c-how-we-do__list
      .c-how-we-do__item.js-inview.u-fade-in-pop
        .c-how-we-do__card
          figure.c-how-we-do__icon
            img(src="assets/images/how-we-do/ico_how_we_do_01.svg", alt="หยิบ 1 แพ็ค ส่งต่อ 2 ฟอง")
          .c-how-we-do__heading
            |หยิบ 1 แพ็ค
            br._d-sm-block._d-md-none
            | ส่งต่อ 2 ฟอง
          .c-how-we-do__text
            p เพียงมองหาสติกเกอร์ อัครา อาสาปันอิ่มปันยิ้มให้สังคม ที่ติดอยู่บนหน้าแพ็ค (แพ็ค 10 ฟอง) ทุก ๆ การซื้อ 1 แพ็ค อัคราร่วมบริจาคไข่ไก่เพิ่มอีก 2 ฟอง เพื่อมอบให้กับน้อง ๆ ที่ขาดแคลน โดยมีเป้าหมายการบริจาคทั้งหมด 100,000 ฟอง
      .c-how-we-do__item.js-inview.u-fade-in-pop
        .c-how-we-do__card
          figure.c-how-we-do__icon
            img(src="assets/images/how-we-do/ico_how_we_do_02.svg", alt="ร่วมส่งต่อกำลังใจ")
          .c-how-we-do__heading
            |ร่วมส่งต่อกำลังใจ
          .c-how-we-do__text
            p ทุก ๆ การซื้อ 1 แพ็ค คุณก็สามารถร่วมเป็นส่วนหนึ่งในการส่งต่อกำลังใจให้กับน้อง ๆ ได้ง่าย ๆ เพียง เขียนข้อความลงบนแผ่นพับที่อยู่ภายในกล่อง ถ่ายภาพลง Social Media แล้วติด # มาที่ #อัคราอาสาปันอิ่มปันยิ้มให้สังคม ข้อความที่ถูกส่งเข้ามาเราจะนำไปมอบต่อให้กับน้อง ๆ ภายในโครงการ
      .c-how-we-do__item.js-inview.u-fade-in-pop
        .c-how-we-do__card
          figure.c-how-we-do__icon
            img(src="assets/images/how-we-do/ico_how_we_do_03.svg", alt="แบ่งปันรอยยิ้ม")
          .c-how-we-do__heading
            |แบ่งปันรอยยิ้ม
          .c-how-we-do__text
            p ไข่ไก่ที่ได้รับจากการบริจาค อัครา ร่วมกับอาสาสมัครที่สนใจ อาสาลงพื้นที่เพื่อนำไปมอบให้กับโรงเรียนที่ขาดแคลน พร้อมปรุงอาหารโดยเชฟมืออาชีพ เพื่อช่วยเหลือน้อง ๆ ที่มีภาวะขาดแคลนโภชนาการ
.c-our-impact
  .c-our-impact__inner
    .c-our-impact__box-heading.js-inview.u-fade-in-up
      h2.c-heading-type1 Our Impact
      .c-our-impact__heading ยอดร่วมบริจาคล่าสุดของเรา
    .c-our-impact__box-donate.js-inview.u-fade-in-up
      .c-our-impact__box-donate-item
        .c-our-impact__box-donate-number.js-inview-number(data-number="6") 0
        .c-our-impact__box-donate-text เดือน
      .c-our-impact__box-donate-item
        .c-our-impact__box-donate-number.js-inview-number(data-number="8500") 0
        .c-our-impact__box-donate-text ฟอง
      .c-our-impact__box-donate-item
        .c-our-impact__box-donate-number.js-inview-number(data-number="650") 0
        .c-our-impact__box-donate-text มื้อ
  .c-box-arrow
    a.c-arrow(href='#activities')
      img.c-arrow-animaton(src="assets/images/common/ico_arrow_down_white.svg", alt="")

.c-activity(id='activities')
  .c-activity__inner
    .c-activity__box-title
      .c-activity__box-label
        h2.c-heading-type1 Activities
      .c-activity__box-heading
        .c-activity__heading ALL ENTRIES
    
    .c-activity__nav.js-activity-nav
      span.c-activity__nav-prev.is-disabled
      span.c-activity__nav-next
    
    .c-activity__box-list
      .c-activity__list.js-activity-scroller
        .c-activity__row
          .c-activity__item
            .c-activity__card
              figure.c-activity__frame
                img.c-activity__image(src="assets/images/activity/img_activity_01.png", alt="")
              .c-activity__title Lorem ipsum dolor sit amet, consectet adipiscing elit.
              .c-activity__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis scelerisque lectus.
          .c-activity__item
            .c-activity__card
              figure.c-activity__frame
                img.c-activity__image(src="assets/images/activity/img_activity_02.png", alt="")
              .c-activity__title Lorem ipsum dolor sit amet, consectet adipiscing elit.
              .c-activity__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis scelerisque lectus.
          .c-activity__item.-big.-orange
            .c-activity__card
              figure.c-activity__frame
                img.c-activity__image._d-md-none(src="assets/images/activity/img_activity_04_sp.png", alt="")
                img.c-activity__image._d-sm-none(src="assets/images/activity/img_activity_04_pc.png", alt="")
              .c-activity__title Lorem ipsum dolor sit amet, consectet adipiscing elit.
              .c-activity__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis scelerisque lectus.

        .c-activity__row
          .c-activity__item.-big.-blue
            .c-activity__card
              figure.c-activity__frame
                img.c-activity__image._d-md-none(src="assets/images/activity/img_activity_03_sp.png", alt="")
                img.c-activity__image._d-sm-none(src="assets/images/activity/img_activity_03_pc.png", alt="")
              .c-activity__box-absolute
                .c-activity__title Lorem ipsum dolor sit amet, consectet adipiscing elit.
                .c-activity__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis scelerisque lectus.
          .c-activity__item
            .c-activity__card
              figure.c-activity__frame
                img.c-activity__image(src="assets/images/activity/img_activity_05.png", alt="")
              .c-activity__title Lorem ipsum dolor sit amet, consectet adipiscing elit.
              .c-activity__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis scelerisque lectus.
          .c-activity__item
            .c-activity__card
              figure.c-activity__frame
                img.c-activity__image(src="assets/images/activity/img_activity_06.png", alt="")
              .c-activity__title Lorem ipsum dolor sit amet, consectet adipiscing elit.
              .c-activity__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis scelerisque lectus.
